%h1
  Listing questions
  = @questions.count
%p
.card-columns
  - @questions.each do |question|
    = render "questions/question", question:question




%br

= link_to 'New Question', new_question_path
