%footer.blog-footer
  %hr/
  %p.text-center
    Blog template built for
    %a{:href => "https://getbootstrap.com/"} Bootstrap
    by
    = succeed "." do
      %a{:href => "https://twitter.com/mdo"} @mdo
  %p
    %a.text-center{:href => "#"} Back to top
